[submodule "ts-code-demo"]
	path = ts-code-demo
	url = https://github.com/chengcyber/ts-code-demo.git
[submodule "ts-code-demo2"]
	path = ts-code-demo2
	url = https://github.com/chengcyber/ts-code-demo.git
